body,head{
    padding: 0;
    margin: 0;
    background: url('../img/фон.jpg');
    color: white;
    background-size:cover;
}

body{
    min-height: 100vh;
}

img
{
    width: 165px;
    height: 200px;
}

a{
    text-decoration: none;
    color: #ccc;
}


.logo
{
    font-size: 36px;
    padding-top: 1%;
    text-align: center;

    /*border:1px solid black;*/

}

.user-info
{
    font-size: 24px;
    float:right;
    margin-right:3%;
    /*border: 1px solid black;*/
    color: #ccc;
    margin-top: -2.7%;

}


.content-title{
    font-size: 28px;
    margin-top:2%;
    margin-left: 4%;
    display: inline-block;
}

.allFilm
{
    display: inline-block;
    margin-left: 1%;
    padding:5px;
    background: #f6993f;
    border-radius: 5px;
    font-size: 18px;

}
.allFilm a
{
    color:#000;
}

.decoration
{
    display:inline-block;
    padding-left:1.5%;
    padding-top: 10px;
    width:180px;
    height:300px;
    /*border:1px solid #6c757d;*/
    padding-bottom: 0px;
    vertical-align: bottom;
    margin-right: 1%;
}

.decoration:hover
{
    border:1px solid darkorange;
    border-radius: 5px;
}
.katalog {

    /*position: absolute;*/
    padding: 10px;
    margin-left: 10%;
    margin-top: 1%;
}

.title-film
{
    color: #ccc;

    margin-top: 2%;
    margin-right: 30px;
    font-size:20px;
    text-align: center;
    /*border:1px solid black;*/


}

.deleteImg{
    height: 30px;
    width: 20px;
    padding: 5px;
    vertical-align: bottom;
    border:1px solid black;
    display: inline-block;
}

.deleteBtn
{
    border:1px solid black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color:#000;
    background: #f6993f;
    border-radius: 5px;
    position: absolute;
    margin-top: 0.5%;

}
