body,html
{
    height: 100%;
    padding: 0;
    margin: 0;
    background: url('../img/фон.jpg') no-repeat center top / cover;
}

.logo{
    padding-top: 2%;
    text-align: center;
    font-size: 35px;
    color: #ccc;
}

.form-autoriz
{
    /*border: 1px solid white;*/
    width: 20%;
    position: absolute;
    margin-top: 8%;
    margin-left: 40%;
    background: rgba(197,31,26,0.3);
    border-radius: 10px;
    padding: 10px;

}

.autoriz_title
{
    text-align: left;
    color:#ccc;
    font-size: 30px;
}
.enterEmail
{
    margin-top:2%;
    font-size:24px;
    margin-bottom: 4%;
}
.login_label , .pass_label
{
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 3px;
    height: 40px;
    background: #fff none;
    line-height: 20px;
    font-size: 16px;
    color: #333;
    /*display: block;*/
    /*margin: 0 auto;*/
    /*font-size: 20px;*/
    /*color:#ccc;*/
    /*padding: 10px;*/
}

.btn
{   display: block;
    margin: 0 auto;
    margin-top: 8%;
    width: 70%;
    background:#f6993f;
    color: #000;
    border-radius: 4px;
    box-shadow: #c51f1a;
    border:none;
    padding: 5px;
    font-size: 18px;

}

.saveMe{
    color: #ccc;
    font-size: 16px;
    /*border:1px solid white;*/
    display: block;
    padding: 5px;
    margin-top: 4%;
}

.saveMe input{
    vertical-align: middle;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 5%;
}

.newAcc
{
    text-align: center;
    color:#ccc;
    margin-top: 5%;
}

.newAcc a
{

    color: #f6993f;
    text-decoration: none;
}
